
body 
{
	background-image: url(777.jpg);
	text-align:center;
	background-height:100%;
	background-repeat:repeat;

	border-style:outside ; border-width: 5px; 
	
    border-style: solid;
    border-color: rgba(255,255,255, 0.6);
    border-color:;
}

h1 {
	background-color: rgba(153,106,255, 0.3); 
}

#us {
	height: 35%; 
}
h1{font-size: 50px;}
h1{color: rgba(0,0,1,51,0.9);}